@font-face {
  font-family: 'MH-devstudio';
  src:
    url('../fonts/MH-devstudio.ttf?tb5dul') format('truetype'),
    url('../fonts/MH-devstudio.woff?tb5dul') format('woff'),
    url('../fonts/MH-devstudio.svg?tb5dul#MH-devstudio') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mhi-"], [class*=" mhi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MH-devstudio' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mhi-menu:before {
  content: "\e900";
}
.mhi-post:before {
  content: "\e901";
}
.mhi-post-slider:before {
  content: "\e921";
}
.mhi-image-carousel:before {
  content: "\e922";
}
.mhi-text:before {
  content: "\e923";
}
.mhi-site-title:before {
  content: "\e924";
}
.mhi-site-logo:before {
  content: "\e925";
}


/* =======================================
 * MH Brush Text Widget
 * ======================================= */

.mh-brush-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Default center alignment from control */
    text-decoration: none;
    box-sizing: border-box; /* Ensures padding is included in height */
    
    /* Defaults from controls (can be overridden) */
    min-height: 180px; 
    
    /* Defaults for background (can be overridden) */
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    
    /* Ensure text color is inherited properly if it's a link */
    color: inherit; 
    transition: transform 0.3s ease; /* Added a subtle hover effect */
}

/* This targets the wrapper only when it's a link */
a.mh-brush-text-wrapper:hover {
    text-decoration: none; /* Disable underline on hover */
    color: inherit;
    transform: scale(1.03); /* Subtle hover effect */
}

.mh-brush-text-wrapper .mh-brush-primary-text {
    line-height: 1.1;
    color: #FFFFFF; /* Default color from control */
}

.mh-brush-text-wrapper .mh-brush-secondary-text {
    line-height: 1.2;
    color: #FFFFFF; /* Default color from control */
}